# install pytorch3d first along with pytorch and torchvision and cudatoolkit

numpy>=1.18.5       # conda ok
scipy>=1.4.1        # conda ok
scikit-image>=0.15 # conda ok
# opencv-python>=4.1.1 # it seems okay to install it through conda with cudatoolkit=10.2
PyYAML>=5.1.1      # conda ok
